# Python bytecode/cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
env/
venv/
ENV/

# Environment variables files (Secrets)
.env
.env.*

# SQLite database (if used)
db.sqlite3

# Django media uploads (user uploaded files)
media/

# Static files collected by collectstatic
/staticfiles/
/static/

# IDE/editor specific files
.vscode/
.idea/

# Logs and debug files
*.log

